<template>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <form @submit.stop.prevent="formSubmit">
                    <div class="form-group">
                        <label for="number">Введите число</label>
                        <input type="text" class="form-control" v-model="number" maxlength="4" :disabled="gameState == GAME_STATE_STOP">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-left">
                <img src="svg/cow.png" alt="cow" class="logo" v-for="i in cows">
                <img src="svg/bull.png" alt="bull" class="logo" v-for="i in bulls">
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-left">
                Попыток {{attempts}}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Введенные числа</th>
                        <th>Результат</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="item in history">
                        <td>{{item['number']}}</td>
                        <td>{{item['result']}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import http from 'axios'


    export default {
        name: "GameComponent",
        data(){
            return{
                errors: [],
                number: "",
                attempts: 0,
                message: "",
                history : [],
                gameState : 0,
                token: $('meta[name="csrf-token"]').attr('content'),
                cows: 0,
                bulls: 0,
                GAME_STATE_RUN: 0,
                GAME_STATE_STOP: 1
            }
        },
        computed:{

        },
        methods:{
            formSubmit(){
                const self = this;
                if (!isNaN(self.number) && self.number!="") {
                    http.post('/checkNumber', {
                        'number': self.number,
                        'token' : self.token,
                    })
                        .then(response => {
                            console.log(response.data);
                            self.message = self.setMessage(response.data['result']);
                            self.attempts++;
                            self.history.push({'number':self.number,'result':self.message});
                            self.number = "";
                        })
                        .catch(e => {
                            console.log(e);
                        })
                }else{
                    self.number = "";
                    alert('Введите число! (введены буквы или пустое значение)');
                }


            },
            newNumber(){
                const self = this;
                http.post('/newNumber', {
                    'token' : self.token,
                })
                    .then(response => {
                        console.log(response.data);

                    })
                    .catch(e => {
                        console.log(e);
                    })
            },
            setMessage(arr){
                let cows = 0;
                let bulls = 0;
                let message = "";
                arr.forEach(function (item) {
                    item == 0 ? cows++ : item == 1 ? bulls++ : false;
                });

                cows > 0 ? message +='К:'+cows : false;
                bulls > 0 ? message +=' ,Б:'+bulls : false;
                this.cows = cows;
                this.bulls = bulls;
                if(this.isVictory(bulls)){
                    this.gameState = this.GAME_STATE_STOP;
                    alert('ВЫ ПОБЕДИЛИ , Игра окончена!');
                }

                return message;
            },

            isVictory(bulls){
                return bulls == 4 ? true :  false;
            }
        },
        created(){
            this.gameState = this.GAME_STATE_RUN;
            this.newNumber();
        }
    }
</script>

<style lang="scss" scoped>
    .logo{
        width: 40px;
        height: 40px;
    }
</style>